/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(/screenshots/pizza.jpg);
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}
main {
    flex: 1;
    padding-bottom: 60px; /* Adjust based on footer height */
}


header nav button {
    background-color: #FFAA00;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

header nav button:hover {
    background-color: #ff9900;
}

.menu-section {
    margin: 20px;
   
}

.menu-section h2 {
    color: #333;
}

#categoryFilter {
    padding: 5px;
    margin-bottom: 20px;
}

#menuTable {
    width: 100%;
    border-collapse: collapse;
}

#menuTable th, #menuTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#menuTable th {
    background-color: #FFAA00;
    color: white;
}

#menuTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#menuTable tr:hover {
    background-color: #ddd;
}

/* Footer Styles */
/* footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
} */

.footer-content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    bottom:0;
    
}

.footer-content h3 {
    color: #FFAA00;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content input[type="email"] {
    padding: 5px;
    margin-top: 10px;
    width: 80%;
}

.footer-content button {
    background-color: #FFAA00;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.footer-content button:hover {
    background-color: #ff9900;
}

.footer-note {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: relative;
}
