body {
    font-family: 'Arial', sans-serif;
    background-image: url(/screenshots/Pizza.jpg);
    color: #333;
    margin: 0;
    padding: 0;
}
.order-item-row .remove-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.order-item-row .remove-btn:hover {
    background-color: #c0392b;
}

/* Styles for the header navigation bar */
header {
    background-color: #1d1c1c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #c6c1c1;
    padding: 8px 15px;
}

nav a:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

nav button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 8px 15px;
    max-width: 150px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

nav button:hover {
    background-color: rgb(242, 195, 6);
}
.container {
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Cursive', sans-serif;
    color: #c0392b;
    font-size: 36px;
}

.reservation h2 {
    text-align: center;
    font-size: 28px;
    color: #e74c3c;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100%;
    background-color: #f39c12;
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #e67e22;
}
.footer-content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    bottom:0;
    
}

.footer-content h3 {
    color: #FFAA00;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content input[type="email"] {
    padding: 5px;
    margin-top: 10px;
    width: 80%;
}

.footer-content button {
    background-color: #FFAA00;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.footer-content button:hover {
    background-color: #ff9900;
}

.footer-note {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: relative;
}